/* body 기본 설정 */
body{background:#ffffff;
line-height:1.5;
font-family:'Nanum Gothic';
text-transform:uppercase;
font-size:1px;
margin:0;
padding : 0;
/*color:#fff;*/
}

/* body 기본 여백값 삭제 */
body {
	margin : 0;
	padding : 0;
}

/* header 안 a링크(하이퍼링크) 설정 */
.headera{text-decoration:none;color:#fff}
#header{background:#008100;  width:100%;
height:25px;position:relative; color : #fff;}
/*#header:after{content:"";clear:both;display:block}*/
.search{float:right; padding:15px}
.logo{float:left;padding:10px 0 26px}
.logo a{font-size:28px;display:block;padding:0 0 0 20px}
/* 헤더에 포함된 컨텐츠 리스트 네비게이션 설정 */
nav{float:right;}
nav{ margin : 0; padding:4px 30px}
nav>ul{float:left;position:relative}
nav li{list-style:none;float:left}
nav .dropdown{position:relative}
nav li a{float:left;padding:0px 10px 0px 10px}
/*nav li a:hover{background:#1D8B15}*/
nav li ul{display:none}
nav li:hover ul{display:inline}
nav li li{float:none}
nav .dropdown ul{position:absolute;left:0;top:100%;background:#fff;padding:20px 0;border-bottom:3px solid #34495e}
nav .dropdown li{white-space:nowrap}
nav .dropdown li a{padding:10px 35px;font-size:13px;min-width:200px}
nav .mega-dropdown{width:100%;position:absolute;top:100%;left:0;background:#fff;overflow:hidden;padding:30px 35px;border-bottom:3px; solid #34495e}
nav li li hd{float:none;color:#fff;display:block;padding:px 10px;border-radius:3px;font-size:13px}
nav li li a:hover{background:#bdc3c7;background:#FAFBFB}


/* 헤더 아래 홈페이지 들어가는 네비게이션 */
.boardnav {
	width: 100%;
	height : 60px;
	background:#ffffff;
	box-shadow: 0 8px 10px -10px green;
  z-index : 1000;
}

/* 회색 네비게이션 바 */
.bar {
  width : 100%;
  height : 30px;
  background: #f7f5f5;
  z-index: 999;
  border-bottom: 1px solid #ebe9e9;
  margin: 4px;
}

/* home/게시판 해당 내용이 들어감 */
.barcontent {
  padding : 5px 20%;
  float : right;
}

/* class = home 설정 */
.home{
  color : black;
  font-size : 3px;
}

/* 네비게이션의 '홈페이지' 위치 설정 */
.title {
  padding : 10px 0px 0px 90px;
}
.page {
  font-size : 25px;
  font-weight: bold;
  color : #5D5D5D;
  text-decoration:none;
}

/* input 태그 공통 설정 */
input {
  height : 25px;
  border : 2px solid #999;
}

/* 해당 페이지 타이틀 설정 */
.list {
  font-size : 20px;
  margin-left : 25%;
}

/* 해당 페이지 타이틀 아래 구분선 */
.listhr {
  width : 720px;
  margin-left:-2px;
}

/* 수정 버튼 설정 */
.updatebutton {
  margin-top : 15px;
  margin-left : 350px;
}

/* table 태그 설정 */
table {
  width : 700ox;
}

/* 테이블 여백 설정 */
.usertable {
  margin-top : -10px;
  border-bottom : 1px solid #BDBDBD;
}

/* 첫번째 행 설정 */
.infotabname {
  font-size : 11px;
  color : black;
  text-align : center;
  }

/* 2,3,4,5 행 설정 */
.infotab {
  font-size : 11px;
  color : black;
  text-align : center;
}

/* 열 안의 텍스트 세로 위치 설정 */
td {
  vertical-align: middle;
  border-bottom : 1px solid #BDBDBD;
}

/* 첫번째열 설정 */
.column1 {
  background : #FAFAFA;
  width : 200px;

}

/* 두번째열 설정 */
.con {
  padding-left : 15px;
  text-align : left;
  border-left : 1px solid #BDBDBD;
}

/* input 태그 설정 */
.infoset {
  border : none;
  width : 400px;
}

/* input 태그 나이 부분 설정  */
.infoset2 {
  border : none;
  width : 45px;
}

